*{
  padding: 0px;
  margin: 0px;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #d8bfd8, #c3a3c3, #a38fa3);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: #5a0b4d; /* 預設文字顏色 */
  text-align: center;
  overflow-y: auto; /* 啟用垂直滾動條 */
}

h1 {
  font-size: 3rem;
  color: #5a0b4d; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 1.2rem;
  color: #5a0b4d; /* 深酒紅色 */
}